<footer>

    {% if entry is not defined or (entry is defined and entry.section.handle not in ['events', 'newsletter']) %}
    <div class="stay-up-to-date">
        <div class="container">
            <div class="stay-up-to-date__wrapper">
                <img src="/assets/img/email-icon.svg" alt="">
                <h2>
                    <span>{{ "Stay updated!" | t }}</span>
                    <a href="/newsletter">{{ "Sign up for our newsletter!" | t }}</a>
                </h2>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__wrapper__content">
                    
                    <div class="footer__wrapper__content__logo d-lg-none">
                        <img src="/assets/svg/logo.svg" alt="">
                    </div>

                    <div class="footer__wrapper__content__menu">
                        <ul>
                            <li><a href="/about-me">{{ "About me" | t }}</a></li>
                            <li><a href="/epf">{{ "EPF" | t }}</a></li>
                            <li><a href="/events">{{ "Events" | t }}</a></li>
                            <li><a href="/inspirations">{{ "Inspirations" | t }}</a></li>
                            <li><a href="/newsletter">{{ "Newsletter" | t }}</a></li>
                        </ul>
                    </div>
                    <div class="footer__wrapper__content__contact">
                        <h3>{{ "Contact" | t }}</h3>
                        <div class="footer__wrapper__content__contact__item">
                            <a href="mailto:info@karimahocevar.com">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <path d="M2.37498 2.375H16.625C17.0622 2.375 17.4166 2.72944 17.4166 3.16667V15.8333C17.4166 16.2706 17.0622 16.625 16.625 16.625H2.37498C1.93775 16.625 1.58331 16.2706 1.58331 15.8333V3.16667C1.58331 2.72944 1.93775 2.375 2.37498 2.375ZM15.8333 5.73008L9.55698 11.3509L3.16665 5.71267V15.0417H15.8333V5.73008ZM3.57119 3.95833L9.54827 9.23242L15.4391 3.95833H3.57119Z" fill="#C58FAC"/>
                                </svg>
                                <span>info@karimahocevar.com</span>
                            </a>
                        </div>
                        <div class="footer__wrapper__content__contact__item">
                            <a href="tel:+41791234567">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <path d="M11.0834 10.6877H13.0625L13.8542 7.521H11.0834V5.93766C11.0834 5.12225 11.0834 4.35433 12.6667 4.35433H13.8542V1.69433C13.5961 1.66029 12.6216 1.5835 11.5924 1.5835C9.44302 1.5835 7.91669 2.89529 7.91669 5.30433V7.521H5.54169V10.6877H7.91669V17.4168H11.0834V10.6877Z" fill="#C58FAC"/>
                                </svg>
                                <span>+41 79 123 45 67</span>
                            </a>
                        </div>
                        <div class="footer__wrapper__content__contact__item">
                            <a href="https://instagram.com" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19" fill="none">
                                    <path d="M9.49998 7.12516C8.1883 7.12516 7.12498 8.18849 7.12498 9.50016C7.12498 10.8118 8.1883 11.8752 9.49998 11.8752C10.8117 11.8752 11.875 10.8118 11.875 9.50016C11.875 8.18849 10.8117 7.12516 9.49998 7.12516ZM9.49998 5.54183C11.6861 5.54183 13.4583 7.31404 13.4583 9.50016C13.4583 11.6863 11.6861 13.4585 9.49998 13.4585C7.31385 13.4585 5.54165 11.6863 5.54165 9.50016C5.54165 7.31404 7.31385 5.54183 9.49998 5.54183ZM14.6458 5.34391C14.6458 5.89044 14.2028 6.3335 13.6562 6.3335C13.1097 6.3335 12.6666 5.89044 12.6666 5.34391C12.6666 4.79738 13.1097 4.35433 13.6562 4.35433C14.2028 4.35433 14.6458 4.79738 14.6458 5.34391ZM9.49998 3.16683C7.5414 3.16683 7.22156 3.17237 6.31036 3.21275C5.68969 3.24204 5.27327 3.32516 4.88694 3.47558C4.54336 3.60858 4.29556 3.7677 4.03194 4.03212C3.78415 4.27152 3.59363 4.56379 3.4746 4.88712C3.32419 5.27504 3.24106 5.69066 3.21256 6.31054C3.1714 7.18454 3.16665 7.49012 3.16665 9.50016C3.16665 11.4587 3.17219 11.7786 3.21256 12.6898C3.24185 13.3097 3.32498 13.7269 3.4746 14.1124C3.60919 14.4568 3.76752 14.7046 4.03036 14.9674C4.29715 15.2334 4.54494 15.3925 4.88536 15.524C5.27644 15.6752 5.69286 15.7591 6.31036 15.7876C7.18435 15.8287 7.48994 15.8335 9.49998 15.8335C11.4586 15.8335 11.7784 15.828 12.6896 15.7876C13.3087 15.7583 13.7259 15.6752 14.1122 15.5255C14.455 15.3917 14.7044 15.2326 14.9672 14.9698C15.234 14.703 15.3931 14.4552 15.5246 14.1148C15.675 13.7245 15.7589 13.3073 15.7874 12.6898C15.8286 11.8158 15.8333 11.5102 15.8333 9.50016C15.8333 7.54158 15.8278 7.22175 15.7874 6.31054C15.7581 5.69146 15.675 5.27346 15.5246 4.88712C15.4053 4.56413 15.2151 4.27197 14.968 4.03212C14.7287 3.78421 14.4364 3.59367 14.113 3.47479C13.7251 3.32437 13.3087 3.24125 12.6896 3.21275C11.8156 3.17158 11.51 3.16683 9.49998 3.16683ZM9.49998 1.5835C11.6509 1.5835 11.9193 1.59141 12.7632 1.631C13.6064 1.67058 14.1803 1.80279 14.6854 1.99912C15.2079 2.2002 15.6481 2.47254 16.0882 2.91191C16.4908 3.30766 16.8023 3.78638 17.001 4.31475C17.1966 4.81904 17.3296 5.39379 17.3691 6.23691C17.4064 7.08083 17.4166 7.34921 17.4166 9.50016C17.4166 11.6511 17.4087 11.9195 17.3691 12.7634C17.3296 13.6065 17.1966 14.1805 17.001 14.6856C16.8029 15.2142 16.4913 15.6931 16.0882 16.0884C15.6924 16.4908 15.2137 16.8023 14.6854 17.0012C14.1811 17.1967 13.6064 17.3297 12.7632 17.3693C11.9193 17.4065 11.6509 17.4168 9.49998 17.4168C7.34902 17.4168 7.08065 17.4089 6.23673 17.3693C5.39361 17.3297 4.81965 17.1967 4.31456 17.0012C3.78599 16.8029 3.30719 16.4913 2.91173 16.0884C2.50909 15.6927 2.19759 15.214 1.99894 14.6856C1.8026 14.1813 1.6704 13.6065 1.63081 12.7634C1.5936 11.9195 1.58331 11.6511 1.58331 9.50016C1.58331 7.34921 1.59123 7.08083 1.63081 6.23691C1.6704 5.393 1.8026 4.81983 1.99894 4.31475C2.19704 3.78606 2.50862 3.30721 2.91173 2.91191C3.3073 2.50914 3.78607 2.19762 4.31456 1.99912C4.81965 1.80279 5.39281 1.67058 6.23673 1.631C7.08065 1.59379 7.34902 1.5835 9.49998 1.5835Z" fill="#C58FAC"/>
                                </svg>
                                <span>Instagram</span>
                            </a>
                        </div>
                    </div>
                    
                    <div class="footer__wrapper__content__logo d-none d-lg-block">
                        <img src="/assets/svg/logo.svg" alt="">
                    </div>
                </div>
                <div class="footer__wrapper__bottom">
                    <div class="footer__wrapper__bottom__links">
                        <a href="/terms-of-use">{{ "Terms of use" | t }}</a>
                        <a href="/privacy-policy">{{ "Privacy policy" | t }}</a>
                    </div>
                    <div class="footer__wrapper__bottom__copyright">
                        <p>© {{ now|date('Y') }} © Karima Hocevar</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>