{% set itemContent = item.buildingBlocks.all() | filter(block => block.type == 'eventContent') | first %}

<div class="event-card">
    <a href="{{ item.url }}" class="event-card__link no-line">
        <div class="event-card__link__image">
            {% include '_matrix/_images' with {
                images: itemContent.images.one(),
                transform: 'eventCover',
                mobileTransform: 'eventCoverMobile'
            } %}
        </div>
        <div class="event-card__link__content">

            <div class="event-card__link__content__inner-wrapper">
                    
                <p class="event-card__link__content__super-title">{{ "Event" | t }}</p>

                <h3 class="event-card__link__content__title">{{ item.title }}</h3>

                <p class="event-card__link__content__short-description">
                    {{ itemContent.shortDescription }}
                </p>
            </div>
            
            <div class="event-card__link__content__meta">
                {% if itemContent.dateFrom is not empty %}
                    <div class="event-card__link__content__meta__date">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M16.5 4.16292H15.5833V3.24626C15.5833 2.74 15.1729 2.32959 14.6667 2.32959C14.1604 2.32959 13.75 2.74 13.75 3.24626V4.16292H8.25V3.24626C8.25 2.74 7.83959 2.32959 7.33333 2.32959C6.82707 2.32959 6.41667 2.74 6.41667 3.24626V4.16292H5.5C3.98122 4.16292 2.75 5.39414 2.75 6.91292V17.9129C2.75 19.4317 3.98122 20.6629 5.5 20.6629H16.5C18.0188 20.6629 19.25 19.4317 19.25 17.9129V6.91292C19.25 5.39414 18.0188 4.16292 16.5 4.16292ZM5.5 5.99626H6.41667V6.91292C6.41667 7.41918 6.82707 7.82959 7.33333 7.82959C7.83959 7.82959 8.25 7.41918 8.25 6.91292V5.99626H13.75V6.91292C13.75 7.41918 14.1604 7.82959 14.6667 7.82959C15.1729 7.82959 15.5833 7.41918 15.5833 6.91292V5.99626H16.5C17.0063 5.99626 17.4167 6.40666 17.4167 6.91292V10.5796H4.58333V6.91292C4.58333 6.40666 4.99374 5.99626 5.5 5.99626ZM16.5 18.8296H5.5C4.99374 18.8296 4.58333 18.4192 4.58333 17.9129V12.4129H17.4167V17.9129C17.4167 18.4192 17.0063 18.8296 16.5 18.8296Z" fill="#C58FAC"/><circle cx="7.33335" cy="15.1667" r="0.916667" fill="#C58FAC"/><path d="M14.6666 14.25H11C10.4937 14.25 10.0833 14.6604 10.0833 15.1667C10.0833 15.6729 10.4937 16.0833 11 16.0833H14.6666C15.1729 16.0833 15.5833 15.6729 15.5833 15.1667C15.5833 14.6604 15.1729 14.25 14.6666 14.25Z" fill="#C58FAC"/></svg>

                        <span>
                            {% if itemContent.dateTo and itemContent.dateFrom != itemContent.dateTo %}
                                {% if itemContent.dateFrom|date('M') == itemContent.dateTo|date('M') %}
                                    {{ itemContent.dateFrom|date('d') }}-{{ itemContent.dateTo|date('d') }} {{ itemContent.dateTo|date('F Y') }}
                                {% else %}
                                    {{ itemContent.dateFrom|date('d. M') }} - {{ itemContent.dateTo|date('d. M Y') }}
                                {% endif %}
                            {% else %}
                                {{ itemContent.dateFrom|date('d. M Y') }}
                            {% endif %}
                        </span>
                    </div>
                {% endif %}

                {% if itemContent.trainingPlace is not empty %}
                    <div class="event-card__link__content__meta__training-place">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M11 2.32959C6.97804 2.32959 3.7067 5.56853 3.66669 9.58996C3.66669 14.6129 10.1292 20.2046 10.4042 20.4429C10.7472 20.7363 11.2528 20.7363 11.5959 20.4429C11.9167 20.2046 18.3334 14.6129 18.3334 9.58959C18.2931 5.56817 15.0216 2.32939 11 2.32959ZM11 18.5088C9.46919 17.0513 5.50002 13.0088 5.50002 9.58959C5.50002 6.55202 7.96246 4.08959 11 4.08959C14.0376 4.08959 16.5 6.55202 16.5 9.58959C16.5 12.9813 12.5309 17.0513 11 18.5088Z" fill="#C58FAC"/><path d="M11 5.99609C9.22811 5.99609 7.79169 7.43251 7.79169 9.20443C7.79169 10.9763 9.22811 12.4128 11 12.4128C12.7719 12.4128 14.2084 10.9763 14.2084 9.20443C14.2084 7.43251 12.7719 5.99609 11 5.99609ZM11 10.5794C10.2406 10.5794 9.62502 9.96382 9.62502 9.20443C9.62502 8.44504 10.2406 7.82943 11 7.82943C11.7594 7.82943 12.375 8.44504 12.375 9.20443C12.375 9.96382 11.7594 10.5794 11 10.5794Z" fill="#C58FAC"/></svg>
                        <span>{{ itemContent.trainingPlace }}</span>
                    </div>
                {% endif %}

                {% if itemContent.eventAuthor is not empty %}
                    <div class="event-card__link__content__meta__event-author">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M11 10.5833C13.0251 10.5833 14.6667 8.94171 14.6667 6.91667C14.6667 4.89162 13.0251 3.25 11 3.25C8.975 3.25 7.33337 4.89162 7.33337 6.91667C7.33337 8.94171 8.975 10.5833 11 10.5833ZM11 5.08333C12.0126 5.08333 12.8334 5.90414 12.8334 6.91667C12.8334 7.92919 12.0126 8.75 11 8.75C9.98752 8.75 9.16671 7.92919 9.16671 6.91667C9.16671 5.90414 9.98752 5.08333 11 5.08333Z" fill="#C58FAC"/><path d="M11 12.4165C7.45621 12.4165 4.58337 15.2893 4.58337 18.8332C4.58337 19.3394 4.99378 19.7498 5.50004 19.7498C6.0063 19.7498 6.41671 19.3394 6.41671 18.8332C6.41671 16.3019 8.46874 14.2498 11 14.2498C13.5313 14.2498 15.5834 16.3019 15.5834 18.8332C15.5834 19.3394 15.9938 19.7498 16.5 19.7498C17.0063 19.7498 17.4167 19.3394 17.4167 18.8332C17.4167 15.2893 14.5439 12.4165 11 12.4165Z" fill="#C58FAC"/></svg>
                        <span>{{ itemContent.eventAuthor }}</span>
                    </div>
                {% endif %}

                {% if itemContent.price is not empty %}
                    <div class="event-card__link__content__meta__price">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><path d="M11 19.4941C6.30869 19.4941 2.50586 15.6913 2.50586 11C2.50586 6.30869 6.30869 2.50586 11 2.50586C15.6913 2.50586 19.4941 6.30869 19.4941 11C19.4941 15.6913 15.6913 19.4941 11 19.4941ZM11 17.7953C14.7527 17.7953 17.7953 14.7527 17.7953 11C17.7953 7.24729 14.7527 4.20469 11 4.20469C7.24729 4.20469 4.20469 7.24729 4.20469 11C4.20469 14.7527 7.24729 17.7953 11 17.7953ZM9.34364 10.1506H13.5482V11.8494H9.34364C9.57808 12.9987 10.6993 13.7402 11.8486 13.5066C12.1977 13.4353 12.5238 13.2773 12.7957 13.0471L14.2397 14.0095C12.8118 15.5639 10.3935 15.6667 8.83909 14.2388C8.15956 13.6145 7.72891 12.7659 7.62613 11.8494H6.75293V10.1506H7.62528C7.85972 8.05253 9.75051 6.54143 11.8486 6.77586C12.7659 6.87864 13.6162 7.31015 14.2405 7.99053L12.7957 8.95291C11.9004 8.19523 10.56 8.30736 9.80317 9.20349C9.57298 9.4753 9.41499 9.80148 9.34364 10.1506Z" fill="#C58FAC"/></svg>
                        <span>{{ itemContent.price }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
