{% set itemContent = item.buildingBlocks.all() | filter(block => block.type == 'inspirationContent') | first %}

<div class="inspiration-card">
    <a href="{{ item.url }}" class="inspiration-card__link no-line">
        <div class="inspiration-card__link__image">
            <img src="{{ itemContent.image.one().getUrl('inspirationThumbnail') }}" alt="">
        </div>
        <div class="inspiration-card__link__content">
            <div class="inspiration-card__link__content__inner-wrapper">
                <div class="inspiration-card__link__content__date">{{ item.postDate | date('d. M Y') }}</div>
                <h3 class="inspiration-card__link__content__title">{{ item.title }}</h3>
                <div class="inspiration-card__link__content__description">{{ item.description | raw }}</div>
            </div>
            <span class="normal-link">
                <span>{{ "Read more" | t }}</span>
            </span>
        </div>
    </a>
</div>